---
const CVPath = "/group/ptacek/CV_2025_ENG.pdf";

const links = [
    {
        title: "CV",
        url: CVPath,
    },
    {
        title: "GitHub",
        url: "https://github.com/MichalPt/"
    }
]

const videos = [
    {
        title: "Open Quantum Sytems",
        url: "https://www.youtube.com/@openqsl2665",
        description: "a channel dedicated so far to nonlinear optical spectroscopy and quantum optics",
    },
    {
        title: "(Quantum) Strangeness",
        url: "https://www.youtube.com/@QuantumStrangeness",
        description: "a popular science channel about quantum physics, its history and basic concepts",
    },
];
---

<div class="flex flex-col items-center gap-y-6">
    <div class="flex flex-row space-x-2 items-center">
        {links.map((link) => (
            <a href={link.url} target="_blank" class="px-2 py-1 bg-gray-200/75 dark:bg-gray-900/75 rounded-lg justify-center items-center hover:brightness-90 dark:hover:brightness-110 transition-all duration-100">
                {link.title}
            </a>
        ))}
    </div>

    <div>
        <div>
            Editor & co-author (with <a href="/mancal" class="citrus-link">Tomáš</a>) of YouTube channels:
        </div>
        <ul class="list-disc">
            {videos.map((video) => (
                <li class="mt-2 ml-8">   
                    <a href={video.url} class="citrus-link">
                        {video.title}
                    </a>
                    <div class="text-sm font-extralight text-gray-300 dark:text-gray-600">
                        {video.description}
                    </div> 
                </li>
            ))}
        </ul>
    </div>

</div>


<!-- 
<div class="mx-auto flex flex-col items-center content-center mt-4">
    Here is a project file that I'm planning to expand on in the future.

    <h2 class="title">Quantum Theory of Resonances</h2>
    <div class="resize-y overflow-auto">
        <object data={pdfPath} type="application/pdf" width="800px" height="500px">
            <embed src={pdfPath}>
                <p>This browser does not support PDFs. Please download the PDF to view it: 
                    <a href={pdfPath}>
                        Download PDF
                    </a>
                    .
                </p>
            </embed>
        </object>
    </div>

    <div class="mt-8 text-xl">You can also visit YouTube channels that I'm co-author of:</div>
    <ul class="list-disc">
        {videos.map((video) => (
            <li class="mt-2">
                <a href={video.url} target="_blank" class="text-accent-base hover:underline">
                    {video.title}
                </a>
                &mdash; {video.description}
            </li>
        ))}
    </ul>
</div> -->