---
import Base from "@/layouts/Base.astro";
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import membersList from "@/content/group.json";
import colabList from "@/content/collaborators.json";

const profilePhotoFolder = "/src/assets/profile_photos/"
/* The argument of import.meta.glob must not contain any variable! Must be a string as it is now! */
const allImages = import.meta.glob<{ default: ImageMetadata }>("/src/assets/profile_photos/*.{jpg,png,webp,jpeg,gif}");

// opt to default photo if it's not specified
const defaultPhoto = 'profile-img.jpg';
const getImagePath = (photo) => {
  return photo ? allImages[profilePhotoFolder + photo]() : allImages[profilePhotoFolder + defaultPhoto]();
};

// order the members according to the dictionary, others will be put to the end
const positionOrder = { "group co-leader": 1, "researcher": 2, "postdoc": 3, "PhD student": 4, "collaborator": 'last', "secretary": 'last', };

const visibleMembers = membersList.filter((person) => String(person.visible ?? "true").toLowerCase() !== "false");
const activeMembers = visibleMembers.filter((person) => String(person.active).toLowerCase() == "true");
const pastMembers = visibleMembers.filter((person) => String(person.active).toLowerCase() == "false");

const visibleColabs = colabList.filter((person) => String(person.visible ?? "true").toLowerCase() !== "false");

// Sort people by position order
const sortedActiveMembers = activeMembers.sort((a, b) => {
  const orderA = positionOrder[a.position] || 999;
  const orderB = positionOrder[b.position] || 999;
  return orderA - orderB;
});
---

<Base meta={{ title: "Group" }}>
    <section class="mx-auto flex flex-col items-center py-8">
        <h1 class="text-center mb-2">
            Current members of the group
        </h1>
        <div class="flex flex-wrap gap-4 justify-center mt-4 mb-5 max-w-4xl">
            {sortedActiveMembers.map(person => 
                <a 
                    href={`/group/${person.path}`} 
                    class={`h-50 px-4 py-2 rounded-lg shadow-lg bg-special-lighter hover:brightness-80 hover:bg-special-lightest text-center`}
                >
                    <div class="flex justify-center text-center imgcircle mt-2">
                        <Image src={getImagePath(person.photo)} alt="profile-photo" height="90" width="90"/>
                    </div>
                    <h3>{person.name}</h3>
                    <p><i>{person.position}</i></p>
                </a>
            )}
        </div>
    </section>
    
    
    <section class="relative mx-auto flex flex-col items-center py-8">
        <h1 class="text-center mb-2">
            Previous members of the group
        </h1>
        <div class="flex flex-wrap gap-4 justify-center mt-4 mb-5 max-w-4xl">
            {pastMembers.sort((a,b) => a.years.to - b.years.to).map((person) => 
                <a 
                    href={`/group/${person.path}`} 
                    class={`h-50 px-4 rounded-lg shadow-lg bg-special-light hover:brightness-80 hover:bg-special-lighter text-center order-${positionOrder[person.position] || 'last'}`}
                >
                    {/* <p>{`order-${positionOrder[person.position] || 'last'}`}</p> */}
                    <div class="flex justify-center text-center imgcircle mt-2">
                        <Image src={getImagePath(person.photo)} alt="profile-photo" height="90" width="90"/>
                    </div>
                    <h3>{person.name}</h3>
                    <p><i>{person.position}</i></p>
                    {person.years && (Array.isArray(person.years) ? (
                            <p><i>{person.years.map(years => years.from === years.to ? (`${years.from}`) : (`${years.from} \u2013 ${years.to}`)).join(', ')}</i></p>
                        ) : (
                            <p><i>{person.years.from} &ndash; {person.years.to}</i></p>
                        )
                    )}
                </a>)}
        </div>
    </section>

    <section class="relative mx-auto flex flex-col items-center py-8">
        <h1 class="text-center mb-2">
            Collaborating groups
        </h1>
        <div class="flex flex-wrap gap-4 justify-center mt-4 mb-5 max-w-4xl">
            {visibleColabs.map((person) => 
                <a 
                    href={person.url} 
                    class={'h-50 px-4 rounded-lg shadow-lg bg-special-light hover:brightness-80 hover:bg-special-lighter text-center'}
                >
                    {/* <p>{`order-${positionOrder[person.position] || 'last'}`}</p> */}
                    <div class="flex justify-center text-center imgcircle mt-2">
                        <Image src={getImagePath(person.photo)} alt="profile-photo" height="90" width="90"/>
                    </div>
                    <h3>{person.name}</h3>
                    <p><i>{person.institute}</i></p>
                </a>)}
        </div>
    </section>
</Base>